## Test report from Jenkins

- ### Smoke test

Chrome browser
  ![Quick tests](../images/Quick_tests.png)

Firefox browser
  ![Quick tests](../images/Quick_Tests_Firefox.png)

Edge Browser
  ![Quick tests](../images/Quick_tests_Edge.png)

- ### Regression tests

Chrome browser
  ![Regression tests](../)

Firefox browser
  ![Regression tests](../)

Edge Browser
  ![Regression tests](../)

- ### Rest assured tests

![Rest assured tests](../images/Rest_assured_tests.png)